h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.4211;
    letter-spacing: .012em;
    color:white;
}

.image {
   margin-left: 50px;
   width: 300px;
}

.info {
   display: flex;
   padding-top: 50px;
   padding-bottom: 50px;
}

.headerContainer {
   padding-top: 30px;
   padding-bottom: 30px;
}

.links {
   display: flex;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}

p {
   color: white;
}

.consultant {
   align-content: center;
   align-items: center;
   justify-content: center;
   padding-right: 30%;
   padding-left: 30%;
   padding-top: 5%;
   padding-bottom: 5%;
   text-align: center;
}

body {
    background-color: black;
}

.footer {
   overflow: hidden;
   background-color: #3A3A3A;
   padding-top: 20px;
   padding-bottom: 20px;
   align-content: center;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.footer a {
   float: left;
   color: white;
   text-align: center;
   padding: 12px;
   text-decoration: none;
   font-size: 18px; 
   line-height: 25px;
}

.header {
   overflow: hidden;
   background-color: #3A3A3A;
   padding-bottom: 20px;
 }
 
 /* Style the header links */
 .header a {
   float: left;
   color: white;
   text-align: center;
   padding: 12px;
   text-decoration: none;
   font-size: 18px; 
   line-height: 25px;
   border-radius: 4px;
 }
 
 /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
 .header a.logo {
   font-size: 25px;
   font-weight: bold;
 }
 
 /* Float the link section to the right */
 .header-right {
   float: right;
 }

 .copyright {
   font-size: 14px;
 }
 
 /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
 @media screen and (max-width: 500px) {
   .header a {
     float: none;
     display: block;
     text-align: left;
   }
   .header-right {
     float: none;
   }
 }

.container {
    margin-right: auto;
    margin-left: auto;

    padding-left: 15px;
    padding-right: 15px;
}

.buttonContainer {
   display: flex;
   justify-content: center;
}

.card1 {
    border-radius: 10px;
    background-color: white;
    margin-top: 15px;
  }

  .card-subtitle {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.4211;
    letter-spacing: .012em;
    text-transform: uppercase;
    color: gray;
  }

  .card-body {
      background-color: black;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
  }

  .card {
      border: none !important;
      border-radius: 10px;
  }
  
  a:link {
      text-decoration: none;
  }
  
  .card-title {
      color: white;
  }

  .card-img {
      height: 250px;
      object-fit: cover;
      background-color: white;

      border-top-left-radius: 10px !important;
      border-top-right-radius: 10px !important;
      border-bottom-right-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
  }

  .iPhone50{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align:center;
    padding-right: 15px;
  }

.d1 {
    position: absolute;
    z-index: 1;
}

.d2 {
  padding-top: 4px;
  padding-left: 10px;
  border-radius: 30px;
}

.news-title h2 {
  color: white;
}

.news-subtitle h6 {
  text-transform: uppercase;
  color: #FF375F;
}

.news {
  background-color: #3A3A3A;
}

@media (prefers-color-scheme: light) {
   .header {
      background-color: #fafafa;
   }

   .footer {
      background-color: #fafafa;
   }

   .header a {
      color: black;
   }

   .links a {
      color: black;
   } 

  body {
    background-color: white;
  }

   p {
      color: black;
   }
   
  h1, h2, h3, h4, h5, h6 {
    color: black;
  }

  .card1 {
   background-color: white;
    /* background-color: #1c1c1e; */
  }

  .card-body {
    background-color: white;
  }

  .card-title {
    color: black;
  }

  .news-title h2 {
    color: black;
  }
  .news {
    background-color: #F2F2F7;
    align-items: center;
  }

   header {
      margin: 0;
      background: #fafafa;
      background-size:100% 100%;
   }

   footer {
      background-color: #fafafa;
   }
}

.customButton {
   box-shadow: 0 0px 10px 0 rgba(0,0,0,0.2), 0 0px 0px 0 rgba(0,0,0,0);
   background-color: white;
   border: none;
   color: black;
   padding: 12px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   border-radius: 12px;
   font-weight: bold;
}

.customButton:hover {
   color: gray;
}

a {
    color: inherit;
    text-decoration: none;
  }
  ul{
     list-style: none;
  }
  
  .blog {
     margin: 3rem 1rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     /* &__header {
        text-align: center;
     }
     &__header1{
        margin: 0;
        font-size: 1.1rem;
        font-weight: 300;
        letter-spacing: .2px;
        text-transform: uppercase;
     }
     &__header2{
        margin-top: .3rem;
        font-size: 1.4rem;
        font-weight: 500;
     }
     &__header2Span{
        font-weight: 400;
        font-size: 1.25rem;
     }
     &__slider{
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center
     }
     &__post{
        margin: 3rem 1rem;
        width: 25%;
        -webkit-box-shadow: 9px 9px 20px 0px rgba(0,0,0, .4);
        -moz-box-shadow: 9px 9px 20px 0px rgba(0,0,0, .4);
        box-shadow: 9px 9px 20px 0px rgba(0,0,0, .4);
     }
     &__topImg{
        max-width: 100%;
     }
     &__content{
        padding: .8rem;
     }
     &__preview{
        font-size: .95rem;
        font-weight: 300;
     }
     &__title{
        margin-top: 0;
        font-size: 1.4rem;
     }
     &__intro{
        line-height: 1.5;
     }
     &__info{
        font-weight: 300;
     }
     &__author{
        font-size: .9rem;
     }
     &__date{
        font-size: .85rem;
     }
  
     &__counter{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
     }
     &__counterItem{
        height: 20px;
        width: 20px;
        margin: .5rem;
        background-color: lightgray;
        border: 1px solid lightgray;
        border-radius: 25px;
        &:hover{
           cursor: pointer;
        }
     }
     &__counterItem-active{
        border: 1px solid lightblue;
        background-color: lightblue;
     } */
  }
    
/* * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }
 
 header {
   display: flex;
   justify-content: space-between;
   align-items: center; */
   /* padding: 30px 10%; */
   /* background-color: #24252a; */
 /* }
 
 .logo {
   cursor: pointer;
   order: 3;
   margin-left: 0;
 } */
 
 /* nav {
   order: 1;
 }
 
 .nav__links a,
 .cta,
 .overlay__content a {
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   color: #edf0f1;
   text-decoration: none;
 }
 
 .nav__links {
   list-style: none;
   display: flex;
   font-size: 16px;
 }
 
 .nav__links li {
   padding: 0px 20px;
 }
 
 .nav__links li:nth-child(1) {
   padding: 0 20px 0 0;
 }
 
 .nav__links li a {
   transition: all 0.3s ease 0s;
 }
 
 .nav__links li a:hover {
   color: #0088a9;
 }
 
 .cta {
   order: 2;
   margin-left: 20px;
   padding: 9px 25px;
   background-color: rgba(0, 136, 169, 1);
   border: none;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease 0s;
 }
 
 .cta:hover {
   background-color: rgba(0, 136, 169, 0.8);
 } */
 
 /* Mobile Nav */

 .menu {
   display: none;
 }
 
 .overlay {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   /* background-color: #24252a; */
   overflow-x: hidden;
   transition: all 0.5s ease 0s;
 }
 
 .overlay--active {
   width: 100%;
 }
 
 .overlay__content {
   display: flex;
   height: 100%;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }
 
 .overlay a {
   padding: 15px;
   font-size: 36px;
   display: block;
   transition: all 0.3s ease 0s;
 }
 
 .overlay a:hover,
 .overlay a:focus {
   color: #0088a9;
 }
 .overlay .close {
   position: absolute;
   top: 20px;
   right: 45px;
   font-size: 60px;
   color: #edf0f1;
 }
 
 @media screen and (max-height: 450px) {
   .overlay a {
     font-size: 20px;
   }
   .overlay .close {
     font-size: 40px;
     top: 15px;
     right: 35px;
   }
 }
 
 @media only screen and (max-width: 800px) {
   .nav__links,
   .cta {
     display: none;
   }
   .menu {
     display: initial;
   }
 } 

 .c-header {
   display: flex;
   justify-content: center;
   padding-left: 16px;
   padding-right: 16px;
}

.c-nav a {
   display: block;
   padding: 16px 8px;
}

.c-nav li {
   /* This will create the spacing you saw in the skeleton */
   display: inline-block;
}

.c-user img,
.c-user span {
    margin-inline-start: 1rem;
}

.c-user {
   margin-left: 8px;
}